---
layout: page
title: Categories
permalink: /categories/
robots: noindex, follow
sitemap: false
---

{% assign categories_sorted = site.categories | sort %}

<ul class="list-category list-linear">
  <li class="list-head">Categories</li>
  {% for category in categories_sorted %}
  {% assign category_name = category[0] %}
  <li>
    <a href="#{{ category_name | slugify }}-ref">
      {{ category_name }} <span>{{ category[1].size }}</span>
    </a>
  </li>
  {% endfor %}
</ul>

{% for category in categories_sorted %}
{% assign category_name = category[0] %}
{% assign category_posts = category[1] | sort: "date" | reverse %}
<h2 id="{{ category_name | slugify }}-ref">{{ category_name }}</h2>
<ul>
  {% for post in category_posts %}
  <li>
    <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    <span class="post-list-date">{{ post.date | date: "%b %-d, %Y" }}</span>
  </li>
  {% endfor %}
</ul>
{% endfor %}
