{% assign nav = site.data.nav %}

<div class="unit-head">
  <div class="unit-inner unit-head-inner">
    <nav class="nav-global" aria-label="Primary">
      <ul>
        <li class="logo"><a href="{{ nav.logo_url | relative_url }}">{{ site.title }}</a></li>

        {% for item in nav.items %}
          {% assign is_active = false %}
          {% if item.active_urls and item.active_urls contains page.url %}
            {% assign is_active = true %}
          {% endif %}
          {% if item.active_layouts and item.active_layouts contains page.layout %}
            {% assign is_active = true %}
          {% endif %}

          <li class="{{ item.id }}{% if is_active %} active{% endif %}">
            <a href="{{ item.url | relative_url }}"{% if is_active %} aria-current="page"{% endif %}>{{ item.label }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div><!-- unit-inner -->
</div><!-- unit-head -->
