<article class="unit-article layout-page">
  <div class="unit-inner unit-article-inner">
    <div class="content">
      {% unless page.hide_title %}
      <header>
        <div class="unit-head">
          <div class="unit-inner unit-head-inner">
            <h1 class="h2 entry-title">{{ page.title }}</h1>
          </div><!-- unit-inner -->
        </div><!-- unit-head -->
      </header>
      {% endunless %}

      <div class="bd">
        <div class="entry-content">
          {{ content }}
        </div><!-- entry-content -->
      </div><!-- bd -->

    </div><!-- content -->
  </div><!-- unit-inner -->
</article>
